# SPDX-License-Identifier: GPL-2.0-only

menu "ZHIHE SoC drivers"

config A210_MEMTESTER
	tristate "ZHIHE A210 memtester support"
	default y
	help
	  This driver supports A210 memtester feature.

config A210_POWER_DOMAIN
	bool "A210 Power Domain driver"
	depends on PM
	select PM_GENERIC_DOMAINS
	default y
	help
	  This is the power domain driver that controls PCU/PPU for A210 Soc.

config A210_BMU
        tristate "A210 bmu driver"
        default n
        help
          This driver provides support for A210 bmu.

endmenu
