# SPDX-License-Identifier: GPL-2.0-only

menu "ZHIHE SoC drivers"

config P100_MEMTESTER
	tristate "ZHIHE P100 memtester support"
	default y
	help
	  This driver supports P100 memtester feature.

config P100_POWER_DOMAIN
	bool "P100 Power Domain driver"
	depends on PM
	select PM_GENERIC_DOMAINS
	default y
	help
	  This is the power domain driver that controls PCU/PPU for P100 Soc.

config P100_BMU
        tristate "p100-bmu driver"
        default n
        help
          This driver provides support for p100 bmu.

endmenu
