# SPDX-License-Identifier: GPL-2.0

config ZHIHE_CLK
	bool
	def_bool ARCH_ZHIHE

config CLK_A210
	bool "Zhihe A210 Clock Driver"
	depends on ARCH_ZHIHE
	default n
	help
	    Build the driver for zhihe A210 Clock Driver
